{% extends 'base.html' %}

{% block title %}
All Messages - HeartApp
{% endblock %}

{% block content %}
<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="row">
					<div class="col-xs-12">
						<div class="tabbable">

							<div class="tab-content no-border no-padding">
								<div id="inbox" class="tab-pane in active">
									<div class="message-container">

										<div class="message-list-container">
											<div class="message-list" id="message-list">

												{% for message in messages %}
												<div class="message-item message-unread">
													<label class="inline">
														<input type="checkbox" class="ace" />
														<span class="lbl"></span>
													</label>

													<i class="message-star ace-icon fa fa-star-o light-grey"></i>

													<span class="sender" title="John Doe">
														{{ current_user.name }}
														<span class="light-grey"></span>
													</span>

													<span class="attachment">
														<i class="ace-icon fa fa-paperclip"></i>
													</span>

													<span class="summary">
														<span class="badge badge-pink mail-tag"></span>
														<span class="text">
															{{ message.content }}
														</span>
													</span>
												</div>
													{% for response in message.responses %}
													<div class="message-item message-unread">
														<label class="inline">
															<input type="checkbox" class="ace" />
															<span class="lbl"></span>
														</label>
	
														<i class="message-star ace-icon fa fa-star-o light-grey"></i>
	
														<span class="sender" title="John Doe">
															Doctor 
															<span class="light-grey"></span>
														</span>
	
														<span class="attachment">
															<a href="{{ url_for('sendMessage') }}">reply</a>
														</span>
	
														<span class="summary">
															<span class="badge badge-pink mail-tag"></span>
															<span class="text">
																{{ response.content }}
															</span>
														</span>
													</div>
													{% endfor %}
												
												{% endfor %}

												
											</div>
										</div>

										<div class="hide message-footer message-footer-style2 clearfix">
											<div class="pull-left"> simpler footer </div>

											<div class="pull-right">
												<div class="inline middle"> message 1 of 151 </div>

												&nbsp; &nbsp;
												<ul class="pagination middle">
													<li class="disabled">
														<span>
															<i class="ace-icon fa fa-angle-left bigger-150"></i>
														</span>
													</li>

													<li>
														<a href="#">
															<i class="ace-icon fa fa-angle-right bigger-150"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div><!-- /.tab-content -->
						</div><!-- /.tabbable -->
					</div><!-- /.col -->
				</div><!-- /.row -->

				<form id="id-message-form" class="hide form-horizontal message-form col-xs-12">
					<div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-recipient">Recipient:</label>

							<div class="col-sm-9">
								<span class="input-icon">
									<input type="email" name="recipient" id="form-field-recipient" data-value="alex@doe.com" value="alex@doe.com" placeholder="Recipient(s)" />
									<i class="ace-icon fa fa-user"></i>
								</span>
							</div>
						</div>

						<div class="hr hr-18 dotted"></div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-subject">Subject:</label>

							<div class="col-sm-6 col-xs-12">
								<div class="input-icon block col-xs-12 no-padding">
									<input maxlength="100" type="text" class="col-xs-12" name="subject" id="form-field-subject" placeholder="Subject" />
									<i class="ace-icon fa fa-comment-o"></i>
								</div>
							</div>
						</div>

						<div class="hr hr-18 dotted"></div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">
								<span class="inline space-24 hidden-480"></span>
								Message:
							</label>

							<div class="col-sm-9">
								<div class="wysiwyg-editor"></div>
							</div>
						</div>

						<div class="hr hr-18 dotted"></div>

						<div class="form-group no-margin-bottom">
							<label class="col-sm-3 control-label no-padding-right">Attachments:</label>

							<div class="col-sm-9">
								<div id="form-attachments">
									<input type="file" name="attachment[]" />
								</div>
							</div>
						</div>

						<div class="align-right">
							<button id="id-add-attachment" type="button" class="btn btn-sm btn-danger">
								<i class="ace-icon fa fa-paperclip bigger-140"></i>
								Add Attachment
							</button>
						</div>

						<div class="space"></div>
					</div>
				</form>

				<div class="hide message-content" id="id-message-content">
					<div class="message-header clearfix">
						<div class="pull-left">
							<span class="blue bigger-125"> Clik to open this message </span>

							<div class="space-4"></div>

							<i class="ace-icon fa fa-star orange2"></i>

							&nbsp;
							<img class="middle" alt="John's Avatar" src="assets/images/avatars/avatar.png" width="32" />
							&nbsp;
							<a href="#" class="sender">John Doe</a>

							&nbsp;
							<i class="ace-icon fa fa-clock-o bigger-110 orange middle"></i>
							<span class="time grey">Today, 7:15 pm</span>
						</div>

						<div class="pull-right action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-reply green icon-only bigger-130"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-mail-forward blue icon-only bigger-130"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-trash-o red icon-only bigger-130"></i>
							</a>
						</div>
					</div>

					<div class="hr hr-double"></div>

					<div class="message-body">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>

						<p>
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>

						<p>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</p>

						<p>
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>

						<p>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</p>

						<p>
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>

					<div class="hr hr-double"></div>

					<div class="message-attachment clearfix">
						<div class="attachment-title">
							<span class="blue bolder bigger-110">Attachments</span>
							&nbsp;
							<span class="grey">(2 files, 4.5 MB)</span>

							<div class="inline position-relative">
								<a href="#" data-toggle="dropdown" class="dropdown-toggle">
									&nbsp;
									<i class="ace-icon fa fa-caret-down bigger-125 middle"></i>
								</a>

								<ul class="dropdown-menu dropdown-lighter">
									<li>
										<a href="#">Download all as zip</a>
									</li>

									<li>
										<a href="#">Display in slideshow</a>
									</li>
								</ul>
							</div>
						</div>

						&nbsp;
						<ul class="attachment-list pull-left list-unstyled">
							<li>
								<a href="#" class="attached-file">
									<i class="ace-icon fa fa-file-o bigger-110"></i>
									<span class="attached-name">Document1.pdf</span>
								</a>

								<span class="action-buttons">
									<a href="#">
										<i class="ace-icon fa fa-download bigger-125 blue"></i>
									</a>

									<a href="#">
										<i class="ace-icon fa fa-trash-o bigger-125 red"></i>
									</a>
								</span>
							</li>

							<li>
								<a href="#" class="attached-file">
									<i class="ace-icon fa fa-film bigger-110"></i>
									<span class="attached-name">Sample.mp4</span>
								</a>

								<span class="action-buttons">
									<a href="#">
										<i class="ace-icon fa fa-download bigger-125 blue"></i>
									</a>

									<a href="#">
										<i class="ace-icon fa fa-trash-o bigger-125 red"></i>
									</a>
								</span>
							</li>
						</ul>

						<div class="attachment-images pull-right">
							<div class="vspace-4-sm"></div>

							<div>
								<img width="36" alt="image 4" src="assets/images/gallery/thumb-4.jpg" />
								<img width="36" alt="image 3" src="assets/images/gallery/thumb-3.jpg" />
								<img width="36" alt="image 2" src="assets/images/gallery/thumb-2.jpg" />
								<img width="36" alt="image 1" src="assets/images/gallery/thumb-1.jpg" />
							</div>
						</div>
					</div>
				</div><!-- /.message-content -->

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
{% endblock %}
