{% extends 'base.html' %}

{% from "form_macros.html" import render_field %}

{% block title %}{% endblock %}
 
{% block style %}{% endblock %}

{% block content %}
<div class="page-content">

		<div class="page-header">
			<h1>
				Send Message to Doctor
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<form action="" method="post" enctype="multipart/form-data" name="submitFeedback" class="form-horizontal" role="form">
					{{ form.hidden_tag() }}
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Your Message </label>

						<div class="col-sm-9">
							{{ render_field(form.content, class="form-control") }}
						</div>
					</div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								Submit
							</button>

							
						</div>
					</div>
				</form>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
{% endblock %}

{% block scripts %}{% endblock %}

{% block javascripts %}{% endblock %}

