{% extends 'base.html' %}

{% block title %}
	Home - HeartApp
{% endblock %}

{% block content %}
<div class="page-content">
		<div class="ace-settings-container" id="ace-settings-container">
			<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
				<i class="ace-icon fa fa-cog bigger-130"></i>
			</div>

			<div class="ace-settings-box clearfix" id="ace-settings-box">
				<div class="pull-left width-50">
					<div class="ace-settings-item">
						<div class="pull-left">
							<select id="skin-colorpicker" class="hide">
								<option data-skin="no-skin" value="#438EB9">#438EB9</option>
								<option data-skin="skin-1" value="#222A2D">#222A2D</option>
								<option data-skin="skin-2" value="#C6487E">#C6487E</option>
								<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
							</select>
						</div>
						<span>&nbsp; Choose Skin</span>
					</div>

					<div class="ace-settings-item">
						<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
						<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
					</div>

					<div class="ace-settings-item">
						<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
						<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
					</div>

					<div class="ace-settings-item">
						<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
						<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
					</div>

					<div class="ace-settings-item">
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
						<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
					</div>

					<div class="ace-settings-item">
						<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
						<label class="lbl" for="ace-settings-add-container">
							Inside
							<b>.container</b>
						</label>
					</div>
				</div><!-- /.pull-left -->

				<div class="pull-left width-50">
					<div class="ace-settings-item">
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
						<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
					</div>

					<div class="ace-settings-item">
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
						<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
					</div>

					<div class="ace-settings-item">
						<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
						<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
					</div>
				</div><!-- /.pull-left -->
			</div><!-- /.ace-settings-box -->
		</div><!-- /.ace-settings-container -->

		<div class="page-header">
			<h1>
				Dashboard
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					overview &amp; stats
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check green"></i>

				
					

				<div class="row">
					<div class="space-6"></div>
  
						<iframe width="500" height="315" src="https://www.youtube.com/embed/0vhCmZWZ1bg" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/dgOU2tql6xE" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/B4iUY04ACqY" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/nov8DESw6Z4" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/GR6n-DMfCDI" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/tP79YHgMmMg" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/Wu3BZgPBefg" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/WDREF5-uYR8" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/8-maLrb2zl8" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/abA2LWqObak" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/ShkjWPws7sE" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/NgJs69CFHsE" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/UVm2fIl0hTE" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/m6SdsgV_unE" frameborder="0" allowfullscreen></iframe>
						<iframe width="500" height="315" src="https://www.youtube.com/embed/NTpX0ng_m1w" frameborder="0" allowfullscreen></iframe>
						
					</div>

					<div class="vspace-12-sm"></div>

				</div><!-- /.row -->

				<div class="hr hr32 hr-dotted"></div>
				
		</div><!-- /.row -->
	</div><!-- /.page-content -->
{% endblock %}


