{% from "form_macros.html" import render_field %} {% extends "base.html" %} {% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ render_field(form.age, class="form-control ") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ render_field(form.chestpain, class="form-control ") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ render_field(form.heartrate, class="form-control ") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ render_field(form.cholesterol, class="form-control ") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ render_field(form.smoking, class="form-control ") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ render_field(form.bloodsugar, class="form-control ") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ render_field(form.bloodpressure, class="form-control ") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ render_field(form.alcohol, class="form-control ") }}
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button href="url_for('user.viewuser')" type="submit" class="btn btn-primary">Cancel</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}